version = 1
[plugins]
  [plugins.cri]
    [plugins.cri.registry]
      config_path = "/var/snap/microk8s/current/args/certs.d"
    [plugins.cri.containerd]
      default_runtime_name = "nvidia"
      [plugins.cri.containerd.runtimes]
        [plugins.cri.containerd.runtimes.nvidia]
          privileged_without_host_devices = false
          runtime_engine = ""
          runtime_root = ""
          runtime_type = "io.containerd.runc.v2"
          [plugins.cri.containerd.runtimes.nvidia.options]
            BinaryName = "/usr/local/nvidia/toolkit/nvidia-container-runtime"
            Runtime = "/usr/local/nvidia/toolkit/nvidia-container-runtime"
        [plugins.cri.containerd.runtimes.nvidia-cdi]
          privileged_without_host_devices = false
          runtime_engine = ""
          runtime_root = ""
          runtime_type = "io.containerd.runc.v2"
          [plugins.cri.containerd.runtimes.nvidia-cdi.options]
            BinaryName = "/usr/local/nvidia/toolkit/nvidia-container-runtime.cdi"
            Runtime = "/usr/local/nvidia/toolkit/nvidia-container-runtime.cdi"
        [plugins.cri.containerd.runtimes.nvidia-legacy]
          privileged_without_host_devices = false
          runtime_engine = ""
          runtime_root = ""
          runtime_type = "io.containerd.runc.v2"
          [plugins.cri.containerd.runtimes.nvidia-legacy.options]
            BinaryName = "/usr/local/nvidia/toolkit/nvidia-container-runtime.legacy"
            Runtime = "/usr/local/nvidia/toolkit/nvidia-container-runtime.legacy"
