[Unit]
Description=Forward DNS UDP from WireGuard to localhost
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat UDP4-LISTEN:53,bind={{ wireguard_ip }},reuseaddr,fork UDP4:127.0.0.53:53
Restart=always

[Install]
WantedBy=multi-user.target
