[Unit]
Description=Forward DNS TCP from WireGuard to localhost
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP4-LISTEN:53,bind={{ wireguard_ip }},reuseaddr,fork TCP4:127.0.0.53:53
Restart=always

[Install]
WantedBy=multi-user.target
