[Unit]
Description=Update DNS configuration with kube-dns IP
After=microk8s.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-dns.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
